/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200;600&display=swap'); */

:root {
  --lime: rgb(135, 255, 79);
  --fadedLime: rgb(231, 248, 223);
  --darkLime: rgb(17, 138, 33);
  --blackLime: rgb(6, 47, 12);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.button {
  background-color: black;
  color: white;
  outline: none;
  box-shadow: none;
  border: solid 1px transparent;
  border-radius: 1rem;
  padding: 10px 15px;
  cursor: pointer;
}

.button:hover {
  border: solid 1px var(--lime)
}